.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/
.apt_generated_test/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

#############

accountservice/accountservice
accountservice/accountservice-linux-amd64
accountservice/accounts.db
accountservice/healthchecker-linux-amd64

healthchecker/healthchecker
healthchecker/healthchecker-linux-amd64
accountservice/accounts.db
accountservice/accounts.db.lock
loadtest/target/gatling/results/loadtest-1580368636248/index.html
loadtest/target/gatling/results/loadtest-1580368636248/req_getaccount-87c54.html
loadtest/target/gatling/results/loadtest-1580368636248/js/all_sessions.js
loadtest/target/gatling/results/loadtest-1580368636248/js/bootstrap.min.js
loadtest/target/gatling/results/loadtest-1580368636248/js/gatling.js
loadtest/target/gatling/results/loadtest-1580368636248/js/global_stats.json
loadtest/target/gatling/results/loadtest-1580368636248/js/highcharts-more.js
loadtest/target/gatling/results/loadtest-1580368636248/js/highstock.js
loadtest/target/gatling/results/loadtest-1580368636248/js/jquery.min.js
loadtest/target/gatling/results/loadtest-1580368636248/js/menu.js
loadtest/target/gatling/results/loadtest-1580368636248/js/moment.min.js
loadtest/target/gatling/results/loadtest-1580368636248/js/stats.js
loadtest/target/gatling/results/loadtest-1580368636248/js/theme.js
loadtest/target/gatling/results/loadtest-1580368636248/style/arrow_down_black.png
loadtest/target/gatling/results/loadtest-1580368636248/style/arrow_down.png
loadtest/target/gatling/results/loadtest-1580368636248/style/arrow_right_black.png
loadtest/target/gatling/results/loadtest-1580368636248/style/arrow_right.png
loadtest/target/gatling/results/loadtest-1580368636248/style/bootstrap.min.css
loadtest/target/gatling/results/loadtest-1580368636248/style/cible.png
loadtest/target/gatling/results/loadtest-1580368636248/style/favicon.ico
loadtest/target/gatling/results/loadtest-1580368636248/style/fond-degrade.gif
loadtest/target/gatling/results/loadtest-1580368636248/style/fond-lueur.gif
loadtest/target/gatling/results/loadtest-1580368636248/style/little_arrow_right.png
loadtest/target/gatling/results/loadtest-1580368636248/style/logo-gatling.jpg
loadtest/target/gatling/results/loadtest-1580368636248/style/logo.png
loadtest/target/gatling/results/loadtest-1580368636248/style/sortable.png
loadtest/target/gatling/results/loadtest-1580368636248/style/sorted-down.png
loadtest/target/gatling/results/loadtest-1580368636248/style/sorted-up.png
loadtest/target/gatling/results/loadtest-1580368636248/style/stat-fleche-bas.png
loadtest/target/gatling/results/loadtest-1580368636248/style/stat-fond.png
loadtest/target/gatling/results/loadtest-1580368636248/style/stat-l-roue.png
loadtest/target/gatling/results/loadtest-1580368636248/style/stat-l-temps.png
loadtest/target/gatling/results/loadtest-1580368636248/style/style.css
loadtest/target/gatling/results/loadtest-1580368832359/index.html
loadtest/target/gatling/results/loadtest-1580368832359/req_getaccount-87c54.html
loadtest/target/gatling/results/loadtest-1580368832359/js/all_sessions.js
loadtest/target/gatling/results/loadtest-1580368832359/js/bootstrap.min.js
loadtest/target/gatling/results/loadtest-1580368832359/js/gatling.js
loadtest/target/gatling/results/loadtest-1580368832359/js/global_stats.json
loadtest/target/gatling/results/loadtest-1580368832359/js/highcharts-more.js
loadtest/target/gatling/results/loadtest-1580368832359/js/highstock.js
loadtest/target/gatling/results/loadtest-1580368832359/js/jquery.min.js
loadtest/target/gatling/results/loadtest-1580368832359/js/menu.js
loadtest/target/gatling/results/loadtest-1580368832359/js/moment.min.js
loadtest/target/gatling/results/loadtest-1580368832359/js/stats.js
loadtest/target/gatling/results/loadtest-1580368832359/js/theme.js
loadtest/target/gatling/results/loadtest-1580368832359/style/arrow_down_black.png
loadtest/target/gatling/results/loadtest-1580368832359/style/arrow_down.png
loadtest/target/gatling/results/loadtest-1580368832359/style/arrow_right_black.png
loadtest/target/gatling/results/loadtest-1580368832359/style/arrow_right.png
loadtest/target/gatling/results/loadtest-1580368832359/style/bootstrap.min.css
loadtest/target/gatling/results/loadtest-1580368832359/style/cible.png
loadtest/target/gatling/results/loadtest-1580368832359/style/favicon.ico
loadtest/target/gatling/results/loadtest-1580368832359/style/fond-degrade.gif
loadtest/target/gatling/results/loadtest-1580368832359/style/fond-lueur.gif
loadtest/target/gatling/results/loadtest-1580368832359/style/little_arrow_right.png
loadtest/target/gatling/results/loadtest-1580368832359/style/logo-gatling.jpg
loadtest/target/gatling/results/loadtest-1580368832359/style/logo.png
loadtest/target/gatling/results/loadtest-1580368832359/style/sortable.png
loadtest/target/gatling/results/loadtest-1580368832359/style/sorted-down.png
loadtest/target/gatling/results/loadtest-1580368832359/style/sorted-up.png
loadtest/target/gatling/results/loadtest-1580368832359/style/stat-fleche-bas.png
loadtest/target/gatling/results/loadtest-1580368832359/style/stat-fond.png
loadtest/target/gatling/results/loadtest-1580368832359/style/stat-l-roue.png
loadtest/target/gatling/results/loadtest-1580368832359/style/stat-l-temps.png
loadtest/target/gatling/results/loadtest-1580368832359/style/style.css
loadtest/target/zincCache
